span, .nav-item li > i {
	color: #faa61a;
}

html {
	font-family: 'Roboto', 'Oswald';
}



body{
	width: 80%;
	margin: 0px auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.header-logo {
	display: flex;
	align-items: center;
}

.header-logo h2 {
	font-weight: 200;
	font-size: 30px;
	margin-left: 5px;
}

.nav-item {
	list-style-type: none;
}

.nav-item li {
	display: inline;
	margin-left: 10px;
}

.nav-item li i {
	padding-right: 3px;
}

a {
	text-decoration: none;
	color: #000;
}





.banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: #faa61a;
}

.banner h1 {
	font-family: 'Bebas';
	font-size: 83px;
	flex-basis: 100%;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

.panda-box {
	display: flex;
	justify-content: center;
}

.panda-aside {
	color: #fff;
	background: #000;
}

.panda-aside ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.panda-aside h3 {
	align-self: flex-start;
	color: #000;
	background: #fff;
	margin-bottom: 5px;
}

.project-descr {
	display: flex;
	flex-direction: column;
	flex: 0 278px;
	background: #fff;
}

.project-descr h2 {
	align-self: flex-start;
}

.read-more {
	align-self: flex-end;
	color: #fff;
	background: #000;
}

.read-more i {
	background: #faa61a;
	color: #000;
	padding: 3px;
}

.section-services {
	display: flex;
	margin-top: 20px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 1 1 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.services ul {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	list-style-type: none;
	padding: 0px;
}

.arr li i {
	background: #faa61a;
	padding: 3px;
	margin-right: 7px;
}

.didyouknow {
	flex: 1.5 1 0;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 20px;
}

.didyouknow p{
}

.contacts {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 20px;
}

.contacts ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	aling-items: flex-start;
}

.clients {
	padding: 20px;
}

.clients h2 {
	margin: 0px;
}

.clients ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*
.panda-box {
	display: flex;
}

.panda-box figure {
	display: flex;
	justify-content: flex-end;
}

.panda-aside {
	color: #fff;
	background: #000;
	display: flex;
	justify-content: flex-start;
}

.panda-aside ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0px;
}

.panda-aside ul li {

}



.panda-aside h3 {
	color: #000;
	background: #fff;
}


.project-descr {
	display: flex;
	flex-direction: column;
	flex: 0 278px;
}

.section-services {
	display: flex;
}

.section-services:nth-child(1) {
	flex: 1 1 0;
}

.section-services:nth-child(2) {
	flex: 1.5 1 0;
}

.section-services:nth-child(3) {
	flex: 1 1 0;
}

.clients {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
}

.clients h2 {
	flex: 1 100%;
}

.clients ul {
	padding-left: 0px;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-basis: 100%;
}


.footer-nav ul{
	list-style-type: none;
}

.footer-nav ul li {
	display: inline;
	margin-left: 10px;
}
*/